<div class="container">	

<h1 class="shining">{{title}}</h1>

<form action="" method="post">

  Name: <input type="text" name="name"><br>
  Created By: <input type="text" name="createdBy"><br>

   <input class="shake" type="submit" value="Create New Grocery List">

</form>


<div class="linkStyles"><a href="/list">All Lists</a>|<a href="/list/create">Create a New List</a></div>

</div>