<div class="container">	

<h1 class="shining">Welcome to Grocery Lists</h1>
<h2 class="shining">Please login you {{title}}</h1>



<form action="" method="post">

  Username: <input type="text" name=" Username" id="_Username"><br>
  Password: <input type="text" name="Password" id="_Password" ><br>

   <input class="shake" type="submit" value="Sign in">

</form>


<p>IF YOU DON'T HAVE AN ACCOUNT PLEASE CLICK BELOW</p>

<div class="linkStyles"><a href="/signup">Create An Account</a></div>

</div>