<div class="container">	

<h1 class="shining">Signup</h1>
<h2 class="shining">Please tell us a little about yourself you {{title}}</h1>

<form action="" method="post" >
  name: <input type="text" name=" name" id="_name" ><br>
  Username: <input type="text" name=" Username" id="_Username"><br>
  Password: <input type="text" name="Password" id="_Password" ><br>

    <input class="shake" type="submit" value="Submit">
 <!-- <button onclick="myJsFunction()" id="startButton">Register</button>-->
</form>

<div class="linkStyles"><a href="/login">Login to your account</a></div>

</div>

<!--<script src="/javascripts/custom.js"></script>-->